/** General **/

body {
    font-family: system-ui,Futura,"Trebuchet MS",Arial,sans-serif;

    background-color: aliceblue;
}

a, a:visited {
    color: black;
}

textarea
{
    background-color: bisque;

    min-height: 30px;
    max-height: 30px;
} 

/* Most utlity buttons use the same backgroundcolor and border. Any exceptions set these options explicitly. */
button {
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;

    border-style: outset;

    border-radius: .25rem;

    background-color: #EFDEB4;

    line-height: 1.25;
}

/** Bootstrap **/

/*TODO would be nice to be able to affect different popover bodies separately*/
.popover-body {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;  

    background-color: #E7F3FF;
}

/* Due to some weird Bootstrap behavior, need to use a class that contains 'popover' but isn't exactly 'popover' for buttons within the popover. Otherwise the popover disappears when the buttons are selected.*/ 
.popoverElement {}

.collapsing {
    transition: height .1s;
}

/** Header Row **/

#divHomeHeader {
    border-color: black;
    border-width: 2px;
    border-bottom-width: 1px;
    border-style: solid;

    background-color: ghostwhite;

    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;

    height: 40px;
}

#divListHeader {
    border-color: black;
    border-width: 2px;
    border-bottom-width: 1px;
    border-style: solid;

    background-color: ghostwhite;

    align-items: center;
    
    font-size: 1.2rem;

    height: 40px;
}

.divQuantityHeader {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;    

    border-color: black;
    border-width: 1px;
    border-style: solid;

    background-color: lavenderblush;

    text-align: center;
}

.iconSmall {
    padding-top: 8px;
    padding-bottom: 0px;
}

#buttonHome {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;  
    
    border-style: none;

    background-color: #EFDEB4; /*rgb(248, 242, 227);*/

    margin-left: 0;
}  

#headerCurrentListName {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;  
}

/** Item & List Rows **/

.divItemRow {
    border-color: black;
    border-width: 1px;
    border-style: solid;

    background-color: inherit;

    align-items: center;
    justify-content: center;
}

.divItemName {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;  
}

.newRow {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;  

    border-color: black;
    border-width: 1px;
    border-style: solid;
    
    /* width: 100%; */
}

/** Quantity Toggles **/

.buttonQuantity {
    border-width: 1px;
    border-style: ridge;

    background-color: burlywood;

    text-align: center;
    font-weight: bold;

    color: black;
    width: 100%;
}

.buttonClear {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;  
    
    margin: 2px;
}

/** Settings Views **/

.divSettingsWrapper {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;  
    
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

/*TODO Curently not used! Implementing this will require some JS changes*/
.divListSettingsWrapperRow {
    justify-content: center;
}

.divEditName {
    padding-left: 25px;
    
    display: flex;
    align-items: center; 
} 

/** Experimental & In Progress **/

/* #listOfLists {
    padding-right: 15px;
    padding-left: 15px;

    background-color: aliceblue;
} */

.buttonNavigateToList {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;   
    
    /* TODO shouldn't have to specify blank border. Instead, the default should be blank and the special ones should be explicitly specified.  */
    border-style: none; 

    background-color: #EFDEB4; /* rgb(248, 242, 227) is also good */
}

.divSmallPadding {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;  
}

.buttonListItem {
    padding-left: 10px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;  
    
    text-align: left;
   
    width: 100%;
    height: 30px;
}

.buttonListToggle {
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    
    border-style: outset;

    background-color: aliceblue;
}

.buttonListItemName {     
    border-style: solid;

    background-color: #edf7f7;

    line-height: 1.25;
}
