div .header {
    font-size: 13px;
    background-color: lavenderblush;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

div .smallicon{
    padding-top: 8px;
    padding-bottom: 0px;
}

#grid div {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.divItemRow {
    /* TODO I kind of liked the look of it when the rows weren't fully colored in */
    background-color: aliceblue;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.divEdit {
    background-color: bisque;
    padding: 7px;  
    margin-left: 5px;
}

.buttonEdit {
    padding: 0px;
    max-height: 25px;
}

.divItemName {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
}

#grid textarea
{
    width: 110px;
    height: auto;
    max-height: 25px;
    background-color: burlywood;
} 

.divQuantity {
    background-color: bisque;
    padding: 5px;
    /*
    margin-right: 5px;
    /*
    align-items: stretch;
    height: 100%;
    */
}

.inputQuantity {
    width: 25px;
    background-color: burlywood;
    max-height: 25px;
}